{
  "openapi": "3.1.0",
  "info": {
    "title": "Switchgrid - Enedis Raw Data API",
    "version": "2",
    "description": "API for collecting user consent and ordering electric consumption data from Enedis."
  },
  "servers": [
    {
      "url": "https://app.switchgrid.tech/enedis/v2"
    }
  ],
  "tags": [
    {
      "name": "asks",
      "description": "Operations related to asks"
    },
    {
      "name": "orders",
      "description": "Operations related to data orders"
    },
    {
      "name": "contracts",
      "description": "Operations related to electricity contracts"
    },
    {
      "name": "requests",
      "description": "Operations related to requests"
    }
  ],
  "paths": {
    "/ask": {
      "post": {
        "tags": [
          "asks"
        ],
        "summary": "Create an Ask",
        "operationId": "ask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "required": [
                  "electricityContracts",
                  "signer",
                  "consentCollectionMedium",
                  "scopesAndPurpose",
                  "consentDuration"
                ],
                "properties": {
                  "electricityContracts": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "prm",
                            "heldBy",
                            "address"
                          ],
                          "properties": {
                            "prm": {
                              "type": "string",
                              "pattern": "^[0-9]{14}$",
                              "examples": [
                                "00059461297239"
                              ]
                            },
                            "heldBy": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "genre",
                                    "firstName",
                                    "lastName"
                                  ],
                                  "properties": {
                                    "genre": {
                                      "enum": [
                                        "M",
                                        "F"
                                      ]
                                    },
                                    "firstName": {
                                      "type": "string",
                                      "description": "a string",
                                      "title": "string"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "a string",
                                      "title": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "required": [
                                    "name",
                                    "siret"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "a string",
                                      "title": "string"
                                    },
                                    "siret": {
                                      "type": "string",
                                      "description": "a string",
                                      "title": "string"
                                    },
                                    "otherNames": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "description": "a string",
                                        "title": "string"
                                      },
                                      "description": "Other names of the company. Max 2 names.",
                                      "maxItems": 2
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              ],
                              "description": "The person or company that holds the contract"
                            },
                            "address": {
                              "type": "object",
                              "required": [
                                "street",
                                "postalCode",
                                "city",
                                "country"
                              ],
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "description": "a string",
                                  "title": "string"
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "a string",
                                  "title": "string"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "a string",
                                  "title": "string"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "a string",
                                  "title": "string"
                                }
                              },
                              "additionalProperties": false,
                              "description": "The address where the electricity is consumed"
                            }
                          },
                          "additionalProperties": false,
                          "$schema": "http://json-schema.org/draft-07/schema#"
                        },
                        {
                          "type": "string",
                          "description": "The identifier of an electricity contract, that comes from the endpoint GET /search_contract",
                          "format": "uuid"
                        }
                      ]
                    },
                    "examples": [
                      [
                        {
                          "prm": "00059461297239",
                          "heldBy": {
                            "name": "Société Test",
                            "siret": "12345678901234"
                          },
                          "address": {
                            "street": "street",
                            "postalCode": "00000",
                            "city": "city",
                            "country": "country"
                          }
                        }
                      ]
                    ]
                  },
                  "signer": {
                    "type": "object",
                    "required": [
                      "lastName",
                      "firstName",
                      "phone",
                      "genre",
                      "email"
                    ],
                    "properties": {
                      "lastName": {
                        "type": "string",
                        "description": "a string",
                        "title": "string"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "a string",
                        "title": "string"
                      },
                      "phone": {
                        "type": "string",
                        "description": "a string",
                        "title": "string"
                      },
                      "genre": {
                        "enum": [
                          "M",
                          "F"
                        ]
                      },
                      "email": {
                        "identifier": "Email",
                        "description": "an email",
                        "type": "string",
                        "examples": [
                          "user@domain.com"
                        ]
                      }
                    },
                    "additionalProperties": false,
                    "description": "The person signing the Consent request",
                    "examples": [
                      {
                        "email": "user@domain.com",
                        "firstName": "firstName",
                        "genre": "M",
                        "lastName": "lastName",
                        "phone": "+33600000000"
                      }
                    ],
                    "$schema": "http://json-schema.org/draft-07/schema#"
                  },
                  "consentCollectionMedium": {
                    "anyOf": [
                      {
                        "type": "object",
                        "required": [
                          "service"
                        ],
                        "properties": {
                          "service": {
                            "const": "DOCUSEAL"
                          }
                        },
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "required": [
                          "service"
                        ],
                        "properties": {
                          "service": {
                            "const": "WEB_HOSTED"
                          }
                        },
                        "additionalProperties": false
                      }
                    ],
                    "$schema": "http://json-schema.org/draft-07/schema#"
                  },
                  "options": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "skipAddressCheck": {
                        "type": "boolean",
                        "description": "a boolean",
                        "title": "boolean"
                      }
                    },
                    "additionalProperties": false,
                    "examples": [
                      {
                        "skipAddressCheck": false
                      }
                    ]
                  },
                  "scopesAndPurpose": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "scopes",
                        "purposes"
                      ],
                      "properties": {
                        "scopes": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "service",
                                      "id"
                                    ],
                                    "properties": {
                                      "service": {
                                        "const": "ENEDIS_RAW_API"
                                      },
                                      "id": {
                                        "const": "DETAILS_CONTRACTUELS"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "service",
                                      "id",
                                      "args"
                                    ],
                                    "properties": {
                                      "service": {
                                        "const": "ENEDIS_RAW_API"
                                      },
                                      "id": {
                                        "const": "CONSUMPTION_DATA"
                                      },
                                      "args": {
                                        "type": "object",
                                        "required": [
                                          "types",
                                          "directions"
                                        ],
                                        "properties": {
                                          "types": {
                                            "type": "array",
                                            "items": {
                                              "enum": [
                                                "CDC",
                                                "PMAX",
                                                "IDX",
                                                "ENERGIE"
                                              ]
                                            }
                                          },
                                          "directions": {
                                            "type": "array",
                                            "items": {
                                              "enum": [
                                                "SOUTIRAGE",
                                                "INJECTION"
                                              ]
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                ]
                              },
                              {
                                "type": "object",
                                "required": [
                                  "id",
                                  "args"
                                ],
                                "properties": {
                                  "id": {
                                    "const": "ELECTRICITY_TIMESERIES"
                                  },
                                  "args": {
                                    "type": "object",
                                    "required": [
                                      "types",
                                      "directions"
                                    ],
                                    "properties": {
                                      "types": {
                                        "type": "array",
                                        "items": {
                                          "const": "LOADCURVE"
                                        }
                                      },
                                      "directions": {
                                        "type": "array",
                                        "items": {
                                          "enum": [
                                            "CONSUMPTION",
                                            "INJECTION"
                                          ]
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "purposes": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "enum": [
                                  "SOLAR_INSTALLATION_SIZING",
                                  "DEMAND_RESPONSE",
                                  "ENERGY_PERFORMANCE_STUDY"
                                ]
                              },
                              {
                                "type": "object",
                                "required": [
                                  "id"
                                ],
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "SOLAR_INSTALLATION_SIZING",
                                      "DEMAND_RESPONSE",
                                      "ENERGY_PERFORMANCE_STUDY"
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              }
                            ]
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "examples": [
                      [
                        {
                          "purposes": [
                            {
                              "id": "SOLAR_INSTALLATION_SIZING"
                            }
                          ],
                          "scopes": [
                            {
                              "service": "ENEDIS_RAW_API",
                              "id": "DETAILS_CONTRACTUELS"
                            },
                            {
                              "service": "ENEDIS_RAW_API",
                              "id": "CONSUMPTION_DATA",
                              "args": {
                                "types": [
                                  "CDC"
                                ],
                                "directions": [
                                  "SOUTIRAGE"
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    ]
                  },
                  "consentDuration": {
                    "anyOf": [
                      {
                        "const": "1 day",
                        "title": "1 day"
                      },
                      {
                        "const": "2 days",
                        "title": "2 days"
                      },
                      {
                        "const": "3 days",
                        "title": "3 days"
                      },
                      {
                        "const": "4 days",
                        "title": "4 days"
                      },
                      {
                        "const": "5 days",
                        "title": "5 days"
                      },
                      {
                        "const": "6 days",
                        "title": "6 days"
                      },
                      {
                        "const": "1 week",
                        "title": "1 week"
                      },
                      {
                        "const": "2 weeks",
                        "title": "2 weeks"
                      },
                      {
                        "const": "3 weeks",
                        "title": "3 weeks"
                      },
                      {
                        "const": "4 weeks",
                        "title": "4 weeks"
                      },
                      {
                        "const": "1 month",
                        "title": "1 month"
                      },
                      {
                        "const": "2 months",
                        "title": "2 months"
                      },
                      {
                        "const": "3 months",
                        "title": "3 months"
                      },
                      {
                        "const": "4 months",
                        "title": "4 months"
                      },
                      {
                        "const": "5 months",
                        "title": "5 months"
                      },
                      {
                        "const": "6 months",
                        "title": "6 months"
                      },
                      {
                        "const": "1 year",
                        "title": "1 year"
                      },
                      {
                        "const": "2 years",
                        "title": "2 years"
                      },
                      {
                        "const": "3 years",
                        "title": "3 years"
                      },
                      {
                        "const": "4 years",
                        "title": "4 years"
                      },
                      {
                        "const": "5 years",
                        "title": "5 years"
                      },
                      {
                        "const": "6 years",
                        "title": "6 years"
                      },
                      {
                        "const": "7 years",
                        "title": "7 years"
                      },
                      {
                        "const": "8 years",
                        "title": "8 years"
                      },
                      {
                        "const": "9 years",
                        "title": "9 years"
                      },
                      {
                        "const": "10 years",
                        "title": "10 years"
                      },
                      {
                        "const": "11 years",
                        "title": "11 years"
                      },
                      {
                        "const": "12 years",
                        "title": "12 years"
                      },
                      {
                        "const": "13 years",
                        "title": "13 years"
                      },
                      {
                        "const": "14 years",
                        "title": "14 years"
                      },
                      {
                        "const": "15 years",
                        "title": "15 years"
                      },
                      {
                        "const": "16 years",
                        "title": "16 years"
                      },
                      {
                        "const": "17 years",
                        "title": "17 years"
                      },
                      {
                        "const": "18 years",
                        "title": "18 years"
                      },
                      {
                        "const": "19 years",
                        "title": "19 years"
                      },
                      {
                        "const": "20 years",
                        "title": "20 years"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "switchgrid-test-env",
            "in": "header",
            "required": false,
            "description": "Set to true to use the test environment. Asks will not be billed. And Orders will return test data.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ask created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "http://json-schema.org/draft-07/schema#",
                  "type": "object",
                  "required": [
                    "id",
                    "createdAt",
                    "status",
                    "acceptedAt",
                    "consentCollectionDetails",
                    "createArgs",
                    "addressCheckResults",
                    "consentIds",
                    "contracts"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A UUID",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 date format"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "const": "CREATED",
                          "title": "CREATED"
                        },
                        {
                          "const": "PENDING_ADDRESS_CHECK",
                          "title": "PENDING_ADDRESS_CHECK"
                        },
                        {
                          "const": "ADDRESS_CHECK_FAILED",
                          "title": "ADDRESS_CHECK_FAILED"
                        },
                        {
                          "const": "PREPARING_CONSENT_COLLECTION",
                          "title": "PREPARING_CONSENT_COLLECTION"
                        },
                        {
                          "const": "PENDING_USER_ACTION",
                          "title": "PENDING_USER_ACTION"
                        },
                        {
                          "const": "ACCEPTED",
                          "title": "ACCEPTED"
                        }
                      ]
                    },
                    "acceptedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 date format"
                        },
                        {
                          "type": null
                        }
                      ]
                    },
                    "consentCollectionDetails": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "service",
                            "userUrl"
                          ],
                          "properties": {
                            "service": {
                              "enum": [
                                "DOCUSEAL",
                                "WEB_HOSTED"
                              ]
                            },
                            "userUrl": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "The URL to the document that the user needs to sign.",
                                  "title": "string",
                                  "examples": [
                                    "https://docuseal.co/s/x1uPBSwot114QM"
                                  ],
                                  "$schema": "http://json-schema.org/draft-07/schema#"
                                },
                                {
                                  "type": "string",
                                  "description": "The URL to the document that the user needs to sign.",
                                  "title": "string",
                                  "examples": [
                                    "https://docuseal.co/s/x1uPBSwot114QM"
                                  ],
                                  "$schema": "http://json-schema.org/draft-07/schema#"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        {
                          "type": null
                        }
                      ]
                    },
                    "createArgs": {
                      "type": "object",
                      "required": [
                        "electricityContracts",
                        "signer",
                        "consentCollectionMedium",
                        "scopesAndPurpose",
                        "consentDuration"
                      ],
                      "properties": {
                        "electricityContracts": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "required": [
                                  "prm",
                                  "heldBy",
                                  "address"
                                ],
                                "properties": {
                                  "prm": {
                                    "type": "string",
                                    "pattern": "^[0-9]{14}$",
                                    "examples": [
                                      "00059461297239"
                                    ]
                                  },
                                  "heldBy": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "required": [
                                          "genre",
                                          "firstName",
                                          "lastName"
                                        ],
                                        "properties": {
                                          "genre": {
                                            "enum": [
                                              "M",
                                              "F"
                                            ]
                                          },
                                          "firstName": {
                                            "type": "string",
                                            "description": "a string",
                                            "title": "string"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "a string",
                                            "title": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "required": [
                                          "name",
                                          "siret"
                                        ],
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "a string",
                                            "title": "string"
                                          },
                                          "siret": {
                                            "type": "string",
                                            "description": "a string",
                                            "title": "string"
                                          },
                                          "otherNames": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "description": "a string",
                                              "title": "string"
                                            },
                                            "description": "Other names of the company. Max 2 names.",
                                            "maxItems": 2
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    ],
                                    "description": "The person or company that holds the contract"
                                  },
                                  "address": {
                                    "type": "object",
                                    "required": [
                                      "street",
                                      "postalCode",
                                      "city",
                                      "country"
                                    ],
                                    "properties": {
                                      "street": {
                                        "type": "string",
                                        "description": "a string",
                                        "title": "string"
                                      },
                                      "postalCode": {
                                        "type": "string",
                                        "description": "a string",
                                        "title": "string"
                                      },
                                      "city": {
                                        "type": "string",
                                        "description": "a string",
                                        "title": "string"
                                      },
                                      "country": {
                                        "type": "string",
                                        "description": "a string",
                                        "title": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "description": "The address where the electricity is consumed"
                                  }
                                },
                                "additionalProperties": false,
                                "$schema": "http://json-schema.org/draft-07/schema#"
                              },
                              {
                                "type": "string",
                                "description": "The identifier of an electricity contract, that comes from the endpoint GET /search_contract",
                                "format": "uuid"
                              }
                            ]
                          },
                          "examples": [
                            [
                              {
                                "prm": "00059461297239",
                                "heldBy": {
                                  "name": "Société Test",
                                  "siret": "12345678901234"
                                },
                                "address": {
                                  "street": "street",
                                  "postalCode": "00000",
                                  "city": "city",
                                  "country": "country"
                                }
                              }
                            ]
                          ]
                        },
                        "signer": {
                          "type": "object",
                          "required": [
                            "lastName",
                            "firstName",
                            "phone",
                            "genre",
                            "email"
                          ],
                          "properties": {
                            "lastName": {
                              "type": "string",
                              "description": "a string",
                              "title": "string"
                            },
                            "firstName": {
                              "type": "string",
                              "description": "a string",
                              "title": "string"
                            },
                            "phone": {
                              "type": "string",
                              "description": "a string",
                              "title": "string"
                            },
                            "genre": {
                              "enum": [
                                "M",
                                "F"
                              ]
                            },
                            "email": {
                              "identifier": "Email",
                              "description": "an email",
                              "type": "string",
                              "examples": [
                                "user@domain.com"
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "description": "The person signing the Consent request",
                          "examples": [
                            {
                              "email": "user@domain.com",
                              "firstName": "firstName",
                              "genre": "M",
                              "lastName": "lastName",
                              "phone": "+33600000000"
                            }
                          ],
                          "$schema": "http://json-schema.org/draft-07/schema#"
                        },
                        "consentCollectionMedium": {
                          "anyOf": [
                            {
                              "type": "object",
                              "required": [
                                "service"
                              ],
                              "properties": {
                                "service": {
                                  "const": "DOCUSEAL"
                                }
                              },
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "required": [
                                "service"
                              ],
                              "properties": {
                                "service": {
                                  "const": "WEB_HOSTED"
                                }
                              },
                              "additionalProperties": false
                            }
                          ],
                          "$schema": "http://json-schema.org/draft-07/schema#"
                        },
                        "options": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "skipAddressCheck": {
                              "type": "boolean",
                              "description": "a boolean",
                              "title": "boolean"
                            }
                          },
                          "additionalProperties": false,
                          "examples": [
                            {
                              "skipAddressCheck": false
                            }
                          ]
                        },
                        "scopesAndPurpose": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "scopes",
                              "purposes"
                            ],
                            "properties": {
                              "scopes": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "service",
                                            "id"
                                          ],
                                          "properties": {
                                            "service": {
                                              "const": "ENEDIS_RAW_API"
                                            },
                                            "id": {
                                              "const": "DETAILS_CONTRACTUELS"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "required": [
                                            "service",
                                            "id",
                                            "args"
                                          ],
                                          "properties": {
                                            "service": {
                                              "const": "ENEDIS_RAW_API"
                                            },
                                            "id": {
                                              "const": "CONSUMPTION_DATA"
                                            },
                                            "args": {
                                              "type": "object",
                                              "required": [
                                                "types",
                                                "directions"
                                              ],
                                              "properties": {
                                                "types": {
                                                  "type": "array",
                                                  "items": {
                                                    "enum": [
                                                      "CDC",
                                                      "PMAX",
                                                      "IDX",
                                                      "ENERGIE"
                                                    ]
                                                  }
                                                },
                                                "directions": {
                                                  "type": "array",
                                                  "items": {
                                                    "enum": [
                                                      "SOUTIRAGE",
                                                      "INJECTION"
                                                    ]
                                                  }
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "required": [
                                        "id",
                                        "args"
                                      ],
                                      "properties": {
                                        "id": {
                                          "const": "ELECTRICITY_TIMESERIES"
                                        },
                                        "args": {
                                          "type": "object",
                                          "required": [
                                            "types",
                                            "directions"
                                          ],
                                          "properties": {
                                            "types": {
                                              "type": "array",
                                              "items": {
                                                "const": "LOADCURVE"
                                              }
                                            },
                                            "directions": {
                                              "type": "array",
                                              "items": {
                                                "enum": [
                                                  "CONSUMPTION",
                                                  "INJECTION"
                                                ]
                                              }
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  ]
                                }
                              },
                              "purposes": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "SOLAR_INSTALLATION_SIZING",
                                        "DEMAND_RESPONSE",
                                        "ENERGY_PERFORMANCE_STUDY"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "required": [
                                        "id"
                                      ],
                                      "properties": {
                                        "id": {
                                          "enum": [
                                            "SOLAR_INSTALLATION_SIZING",
                                            "DEMAND_RESPONSE",
                                            "ENERGY_PERFORMANCE_STUDY"
                                          ]
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  ]
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "examples": [
                            [
                              {
                                "purposes": [
                                  {
                                    "id": "SOLAR_INSTALLATION_SIZING"
                                  }
                                ],
                                "scopes": [
                                  {
                                    "service": "ENEDIS_RAW_API",
                                    "id": "DETAILS_CONTRACTUELS"
                                  },
                                  {
                                    "service": "ENEDIS_RAW_API",
                                    "id": "CONSUMPTION_DATA",
                                    "args": {
                                      "types": [
                                        "CDC"
                                      ],
                                      "directions": [
                                        "SOUTIRAGE"
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          ]
                        },
                        "consentDuration": {
                          "anyOf": [
                            {
                              "const": "1 day",
                              "title": "1 day"
                            },
                            {
                              "const": "2 days",
                              "title": "2 days"
                            },
                            {
                              "const": "3 days",
                              "title": "3 days"
                            },
                            {
                              "const": "4 days",
                              "title": "4 days"
                            },
                            {
                              "const": "5 days",
                              "title": "5 days"
                            },
                            {
                              "const": "6 days",
                              "title": "6 days"
                            },
                            {
                              "const": "1 week",
                              "title": "1 week"
                            },
                            {
                              "const": "2 weeks",
                              "title": "2 weeks"
                            },
                            {
                              "const": "3 weeks",
                              "title": "3 weeks"
                            },
                            {
                              "const": "4 weeks",
                              "title": "4 weeks"
                            },
                            {
                              "const": "1 month",
                              "title": "1 month"
                            },
                            {
                              "const": "2 months",
                              "title": "2 months"
                            },
                            {
                              "const": "3 months",
                              "title": "3 months"
                            },
                            {
                              "const": "4 months",
                              "title": "4 months"
                            },
                            {
                              "const": "5 months",
                              "title": "5 months"
                            },
                            {
                              "const": "6 months",
                              "title": "6 months"
                            },
                            {
                              "const": "1 year",
                              "title": "1 year"
                            },
                            {
                              "const": "2 years",
                              "title": "2 years"
                            },
                            {
                              "const": "3 years",
                              "title": "3 years"
                            },
                            {
                              "const": "4 years",
                              "title": "4 years"
                            },
                            {
                              "const": "5 years",
                              "title": "5 years"
                            },
                            {
                              "const": "6 years",
                              "title": "6 years"
                            },
                            {
                              "const": "7 years",
                              "title": "7 years"
                            },
                            {
                              "const": "8 years",
                              "title": "8 years"
                            },
                            {
                              "const": "9 years",
                              "title": "9 years"
                            },
                            {
                              "const": "10 years",
                              "title": "10 years"
                            },
                            {
                              "const": "11 years",
                              "title": "11 years"
                            },
                            {
                              "const": "12 years",
                              "title": "12 years"
                            },
                            {
                              "const": "13 years",
                              "title": "13 years"
                            },
                            {
                              "const": "14 years",
                              "title": "14 years"
                            },
                            {
                              "const": "15 years",
                              "title": "15 years"
                            },
                            {
                              "const": "16 years",
                              "title": "16 years"
                            },
                            {
                              "const": "17 years",
                              "title": "17 years"
                            },
                            {
                              "const": "18 years",
                              "title": "18 years"
                            },
                            {
                              "const": "19 years",
                              "title": "19 years"
                            },
                            {
                              "const": "20 years",
                              "title": "20 years"
                            }
                          ]
                        }
                      },
                      "additionalProperties": false
                    },
                    "__experimentalAddressChecksResults": {
                      "type": "object",
                      "required": [],
                      "properties": {},
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "enum": [
                              "SUCCESS",
                              "FAILURE"
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "addressCheckResults": {
                      "type": "object",
                      "required": [],
                      "properties": {},
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "enum": [
                              "SUCCESS",
                              "FAILURE"
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "consentIds": {
                      "type": "object",
                      "required": [],
                      "properties": {},
                      "additionalProperties": {
                        "type": "string",
                        "description": "A UUID",
                        "format": "uuid"
                      },
                      "examples": [
                        {
                          "00052775405049": "7252fa9f-b86a-4b95-a090-1012b730004c",
                          "00088663455690": "2083c06a-2793-4475-affc-acfec79d4225"
                        }
                      ]
                    },
                    "contracts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "nomClientFinalOuDenominationSociale",
                          "id",
                          "prm",
                          "categorieClientFinalCode",
                          "adresseInstallationNormalisee"
                        ],
                        "properties": {
                          "nomClientFinalOuDenominationSociale": {
                            "type": "string",
                            "description": "a string",
                            "title": "string",
                            "examples": [
                              "DUPONT Marie",
                              "SARL DUPONT ET FILS"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "description": "A UUID",
                            "format": "uuid"
                          },
                          "prm": {
                            "type": "string",
                            "pattern": "^[0-9]{14}$",
                            "examples": [
                              "00059461297239"
                            ]
                          },
                          "categorieClientFinalCode": {
                            "enum": [
                              "RES",
                              "PRO"
                            ]
                          },
                          "adresseInstallationNormalisee": {
                            "type": "object",
                            "required": [],
                            "properties": {
                              "ligne1": {
                                "type": "string",
                                "description": "Ligne 1 de l’adresse postale.\n  Cette ligne identifie le destinataire.\n  Cette donnée ne sera pas renseignée car\n  redondante avec la donnée « Nom ou\n  dénomination sociale du client »\n  ",
                                "title": "Ligne 1 de l’adresse postale."
                              },
                              "ligne2": {
                                "type": "string",
                                "description": "\n  Ligne 2 de l’adresse postale.\n  Cette ligne identifie généralement le\n  complément d’identification du destinataire ou\n  du point de remise (escalier, étage,\n  appartement, boîte aux lettres…).\n        ",
                                "title": "string",
                                "examples": [
                                  "03 D",
                                  "COLLINE DE VELAUX VI",
                                  "A"
                                ]
                              },
                              "ligne3": {
                                "type": "string",
                                "description": "\n  Ligne 3 de l’adresse postale.\n  Cette ligne identifie généralement le\n  complément d’identification du point\n  géographique (entrée, tour, immeuble,\n  bâtiment, résidence, zone industrielle…).\n        ",
                                "title": "string",
                                "examples": [
                                  "QUARTIER LES CAIRADES",
                                  "VILLA CHANTE LA MER",
                                  "VILLA B LOTISSEMENT ACHBARI",
                                  "QUARTIER LE PEGOUY",
                                  "CHEMIN DE LA CHABOTT"
                                ]
                              },
                              "ligne4": {
                                "type": "string",
                                "description": "\n  Ligne 4 de l’adresse postale.\n  Cette ligne identifie le numéro et le libellé de la\n  voie.\n        ",
                                "title": "string",
                                "examples": [
                                  "70 ALLEE DU BOIS",
                                  "11 IMPASSE DES SENTEURS",
                                  "27 CHEMIN DES COUSTELLINES"
                                ]
                              },
                              "ligne5": {
                                "type": "string",
                                "description": "\n  Ligne 5 de l’adresse postale.\n  Cette ligne identifie généralement :\n  - le lieu-dit ou le service particulier de\n  distribution dans le cas d’un client\n  résidentiel,\n  - les mentions spéciales de distribution et\n  commune d’implantation de l’entreprise (si\n  différente du bureau distributeur CEDEX)\n  dans le cas d’un client professionnel.\n        ",
                                "title": "string",
                                "examples": [
                                  "HELLEMMES LILLE",
                                  "BP 4"
                                ]
                              },
                              "ligne6": {
                                "type": "string",
                                "description": "\n  Ligne 6 de l’adresse postale.\n  Cette ligne identifie :\n  - le code postal et la localité de destination\n  dans le cas d’un client résidentiel,\n  - le code postal et bureau distributeur ou\n  code cedex et bureau distributeur cedex\n  dans le cas d’un client professionnel.\n        ",
                                "title": "string",
                                "examples": [
                                  "84190 BEAUMES DE VENISE"
                                ]
                              },
                              "ligne7": {
                                "type": "string",
                                "description": "\n  Ligne 7 de l’adresse postale.\n  Cette ligne identifie le pays.\n  Cette donnée ne sera pas renseignée.\n        ",
                                "title": "string"
                              }
                            },
                            "additionalProperties": false,
                            "examples": [
                              {
                                "ligne4": "70 ALLEE DU BOIS",
                                "ligne6": "84190 BEAUMES DE VENISE"
                              }
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "$schema": "http://json-schema.org/draft-07/schema#"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "asks"
        ],
        "summary": "List Asks and filter them. Returning the oldest items first.",
        "operationId": "getAsks",
        "responses": {
          "200": {
            "description": "Ask created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "http://json-schema.org/draft-07/schema#",
                  "type": "object",
                  "required": [
                    "skip",
                    "limit",
                    "totalItemsCount",
                    "returnedItemsCount",
                    "items"
                  ],
                  "properties": {
                    "skip": {
                      "type": "number",
                      "description": "a number",
                      "title": "number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "a number",
                      "title": "number"
                    },
                    "totalItemsCount": {
                      "type": "number",
                      "description": "a number",
                      "title": "number"
                    },
                    "returnedItemsCount": {
                      "type": "number",
                      "description": "a number",
                      "title": "number"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "createdAt",
                          "status",
                          "acceptedAt",
                          "consentCollectionDetails",
                          "createArgs",
                          "addressCheckResults",
                          "consentIds",
                          "contracts"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "A UUID",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 date format"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "const": "CREATED",
                                "title": "CREATED"
                              },
                              {
                                "const": "PENDING_ADDRESS_CHECK",
                                "title": "PENDING_ADDRESS_CHECK"
                              },
                              {
                                "const": "ADDRESS_CHECK_FAILED",
                                "title": "ADDRESS_CHECK_FAILED"
                              },
                              {
                                "const": "PREPARING_CONSENT_COLLECTION",
                                "title": "PREPARING_CONSENT_COLLECTION"
                              },
                              {
                                "const": "PENDING_USER_ACTION",
                                "title": "PENDING_USER_ACTION"
                              },
                              {
                                "const": "ACCEPTED",
                                "title": "ACCEPTED"
                              }
                            ]
                          },
                          "acceptedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 date format"
                              },
                              {
                                "type": null
                              }
                            ]
                          },
                          "consentCollectionDetails": {
                            "anyOf": [
                              {
                                "type": "object",
                                "required": [
                                  "service",
                                  "userUrl"
                                ],
                                "properties": {
                                  "service": {
                                    "enum": [
                                      "DOCUSEAL",
                                      "WEB_HOSTED"
                                    ]
                                  },
                                  "userUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "The URL to the document that the user needs to sign.",
                                        "title": "string",
                                        "examples": [
                                          "https://docuseal.co/s/x1uPBSwot114QM"
                                        ],
                                        "$schema": "http://json-schema.org/draft-07/schema#"
                                      },
                                      {
                                        "type": "string",
                                        "description": "The URL to the document that the user needs to sign.",
                                        "title": "string",
                                        "examples": [
                                          "https://docuseal.co/s/x1uPBSwot114QM"
                                        ],
                                        "$schema": "http://json-schema.org/draft-07/schema#"
                                      }
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "type": null
                              }
                            ]
                          },
                          "createArgs": {
                            "type": "object",
                            "required": [
                              "electricityContracts",
                              "signer",
                              "consentCollectionMedium",
                              "scopesAndPurpose",
                              "consentDuration"
                            ],
                            "properties": {
                              "electricityContracts": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "required": [
                                        "prm",
                                        "heldBy",
                                        "address"
                                      ],
                                      "properties": {
                                        "prm": {
                                          "type": "string",
                                          "pattern": "^[0-9]{14}$",
                                          "examples": [
                                            "00059461297239"
                                          ]
                                        },
                                        "heldBy": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "required": [
                                                "genre",
                                                "firstName",
                                                "lastName"
                                              ],
                                              "properties": {
                                                "genre": {
                                                  "enum": [
                                                    "M",
                                                    "F"
                                                  ]
                                                },
                                                "firstName": {
                                                  "type": "string",
                                                  "description": "a string",
                                                  "title": "string"
                                                },
                                                "lastName": {
                                                  "type": "string",
                                                  "description": "a string",
                                                  "title": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            {
                                              "type": "object",
                                              "required": [
                                                "name",
                                                "siret"
                                              ],
                                              "properties": {
                                                "name": {
                                                  "type": "string",
                                                  "description": "a string",
                                                  "title": "string"
                                                },
                                                "siret": {
                                                  "type": "string",
                                                  "description": "a string",
                                                  "title": "string"
                                                },
                                                "otherNames": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "description": "a string",
                                                    "title": "string"
                                                  },
                                                  "description": "Other names of the company. Max 2 names.",
                                                  "maxItems": 2
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          ],
                                          "description": "The person or company that holds the contract"
                                        },
                                        "address": {
                                          "type": "object",
                                          "required": [
                                            "street",
                                            "postalCode",
                                            "city",
                                            "country"
                                          ],
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "description": "a string",
                                              "title": "string"
                                            },
                                            "postalCode": {
                                              "type": "string",
                                              "description": "a string",
                                              "title": "string"
                                            },
                                            "city": {
                                              "type": "string",
                                              "description": "a string",
                                              "title": "string"
                                            },
                                            "country": {
                                              "type": "string",
                                              "description": "a string",
                                              "title": "string"
                                            }
                                          },
                                          "additionalProperties": false,
                                          "description": "The address where the electricity is consumed"
                                        }
                                      },
                                      "additionalProperties": false,
                                      "$schema": "http://json-schema.org/draft-07/schema#"
                                    },
                                    {
                                      "type": "string",
                                      "description": "The identifier of an electricity contract, that comes from the endpoint GET /search_contract",
                                      "format": "uuid"
                                    }
                                  ]
                                },
                                "examples": [
                                  [
                                    {
                                      "prm": "00059461297239",
                                      "heldBy": {
                                        "name": "Société Test",
                                        "siret": "12345678901234"
                                      },
                                      "address": {
                                        "street": "street",
                                        "postalCode": "00000",
                                        "city": "city",
                                        "country": "country"
                                      }
                                    }
                                  ]
                                ]
                              },
                              "signer": {
                                "type": "object",
                                "required": [
                                  "lastName",
                                  "firstName",
                                  "phone",
                                  "genre",
                                  "email"
                                ],
                                "properties": {
                                  "lastName": {
                                    "type": "string",
                                    "description": "a string",
                                    "title": "string"
                                  },
                                  "firstName": {
                                    "type": "string",
                                    "description": "a string",
                                    "title": "string"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "description": "a string",
                                    "title": "string"
                                  },
                                  "genre": {
                                    "enum": [
                                      "M",
                                      "F"
                                    ]
                                  },
                                  "email": {
                                    "identifier": "Email",
                                    "description": "an email",
                                    "type": "string",
                                    "examples": [
                                      "user@domain.com"
                                    ]
                                  }
                                },
                                "additionalProperties": false,
                                "description": "The person signing the Consent request",
                                "examples": [
                                  {
                                    "email": "user@domain.com",
                                    "firstName": "firstName",
                                    "genre": "M",
                                    "lastName": "lastName",
                                    "phone": "+33600000000"
                                  }
                                ],
                                "$schema": "http://json-schema.org/draft-07/schema#"
                              },
                              "consentCollectionMedium": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "service"
                                    ],
                                    "properties": {
                                      "service": {
                                        "const": "DOCUSEAL"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "service"
                                    ],
                                    "properties": {
                                      "service": {
                                        "const": "WEB_HOSTED"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                ],
                                "$schema": "http://json-schema.org/draft-07/schema#"
                              },
                              "options": {
                                "type": "object",
                                "required": [],
                                "properties": {
                                  "skipAddressCheck": {
                                    "type": "boolean",
                                    "description": "a boolean",
                                    "title": "boolean"
                                  }
                                },
                                "additionalProperties": false,
                                "examples": [
                                  {
                                    "skipAddressCheck": false
                                  }
                                ]
                              },
                              "scopesAndPurpose": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "scopes",
                                    "purposes"
                                  ],
                                  "properties": {
                                    "scopes": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "anyOf": [
                                              {
                                                "type": "object",
                                                "required": [
                                                  "service",
                                                  "id"
                                                ],
                                                "properties": {
                                                  "service": {
                                                    "const": "ENEDIS_RAW_API"
                                                  },
                                                  "id": {
                                                    "const": "DETAILS_CONTRACTUELS"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "service",
                                                  "id",
                                                  "args"
                                                ],
                                                "properties": {
                                                  "service": {
                                                    "const": "ENEDIS_RAW_API"
                                                  },
                                                  "id": {
                                                    "const": "CONSUMPTION_DATA"
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "required": [
                                                      "types",
                                                      "directions"
                                                    ],
                                                    "properties": {
                                                      "types": {
                                                        "type": "array",
                                                        "items": {
                                                          "enum": [
                                                            "CDC",
                                                            "PMAX",
                                                            "IDX",
                                                            "ENERGIE"
                                                          ]
                                                        }
                                                      },
                                                      "directions": {
                                                        "type": "array",
                                                        "items": {
                                                          "enum": [
                                                            "SOUTIRAGE",
                                                            "INJECTION"
                                                          ]
                                                        }
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "required": [
                                              "id",
                                              "args"
                                            ],
                                            "properties": {
                                              "id": {
                                                "const": "ELECTRICITY_TIMESERIES"
                                              },
                                              "args": {
                                                "type": "object",
                                                "required": [
                                                  "types",
                                                  "directions"
                                                ],
                                                "properties": {
                                                  "types": {
                                                    "type": "array",
                                                    "items": {
                                                      "const": "LOADCURVE"
                                                    }
                                                  },
                                                  "directions": {
                                                    "type": "array",
                                                    "items": {
                                                      "enum": [
                                                        "CONSUMPTION",
                                                        "INJECTION"
                                                      ]
                                                    }
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    },
                                    "purposes": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "enum": [
                                              "SOLAR_INSTALLATION_SIZING",
                                              "DEMAND_RESPONSE",
                                              "ENERGY_PERFORMANCE_STUDY"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "required": [
                                              "id"
                                            ],
                                            "properties": {
                                              "id": {
                                                "enum": [
                                                  "SOLAR_INSTALLATION_SIZING",
                                                  "DEMAND_RESPONSE",
                                                  "ENERGY_PERFORMANCE_STUDY"
                                                ]
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "examples": [
                                  [
                                    {
                                      "purposes": [
                                        {
                                          "id": "SOLAR_INSTALLATION_SIZING"
                                        }
                                      ],
                                      "scopes": [
                                        {
                                          "service": "ENEDIS_RAW_API",
                                          "id": "DETAILS_CONTRACTUELS"
                                        },
                                        {
                                          "service": "ENEDIS_RAW_API",
                                          "id": "CONSUMPTION_DATA",
                                          "args": {
                                            "types": [
                                              "CDC"
                                            ],
                                            "directions": [
                                              "SOUTIRAGE"
                                            ]
                                          }
                                        }
                                      ]
                                    }
                                  ]
                                ]
                              },
                              "consentDuration": {
                                "anyOf": [
                                  {
                                    "const": "1 day",
                                    "title": "1 day"
                                  },
                                  {
                                    "const": "2 days",
                                    "title": "2 days"
                                  },
                                  {
                                    "const": "3 days",
                                    "title": "3 days"
                                  },
                                  {
                                    "const": "4 days",
                                    "title": "4 days"
                                  },
                                  {
                                    "const": "5 days",
                                    "title": "5 days"
                                  },
                                  {
                                    "const": "6 days",
                                    "title": "6 days"
                                  },
                                  {
                                    "const": "1 week",
                                    "title": "1 week"
                                  },
                                  {
                                    "const": "2 weeks",
                                    "title": "2 weeks"
                                  },
                                  {
                                    "const": "3 weeks",
                                    "title": "3 weeks"
                                  },
                                  {
                                    "const": "4 weeks",
                                    "title": "4 weeks"
                                  },
                                  {
                                    "const": "1 month",
                                    "title": "1 month"
                                  },
                                  {
                                    "const": "2 months",
                                    "title": "2 months"
                                  },
                                  {
                                    "const": "3 months",
                                    "title": "3 months"
                                  },
                                  {
                                    "const": "4 months",
                                    "title": "4 months"
                                  },
                                  {
                                    "const": "5 months",
                                    "title": "5 months"
                                  },
                                  {
                                    "const": "6 months",
                                    "title": "6 months"
                                  },
                                  {
                                    "const": "1 year",
                                    "title": "1 year"
                                  },
                                  {
                                    "const": "2 years",
[...]
